<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Team Name:<%=@name%></title>
 </head>
 <body>
    <p>
        Coach:<%=@coach%>
        Point Guard:<%=@pg%>
        Shooting Guard:<%=@sg%>
        Power Forward:<%=@pf%>
        Small Forward:<%=@sf%>
        Center:<%=@c%>
    </p>
 </body>
</html>


